#colorPalette {
    /* This is here just for color reference */
    /* https://www.canva.com/colors/color-meanings/salmon/ */
    color: #A83832; /* darkest pink/salmon */
    color: #C35047; /*  */
    color: #DE685C; /*  */
    color: #FA8072; /* salmon */
    color: #00BDDA; /* lightest blue */
    color: #00A4C1; /* medium blue */
    color: #008BA9; /* darkest blue */
}

body {
    background-color: #A83832;
    text-align: center;
    font-family: "Georgia";
    color: white;
}

h2, h3{
  font-family: 'Roboto Slab', serif;
  color: #FA8072;
}

#containerMain {
    display: inline-block;
    width: 1360px;
    margin: 40px auto auto auto;
    
}
#containerNavBar {
    width: 960px;
    height: 100px;
    margin: 0px 0px auto 40px;
    float: left;
    font-family: 'Roboto Slab', serif;
    color: #ffffffaa;
    background-color: #008BA9;
}
#containerFeed {
    width: 960px;
    height: auto;
    margin: 40px 0px 0px 40px;
    float: left;
}

#boxNavLabel {
    width: auto;
    height: 80px;
    color: white;
    font-size: 2.5em;
    line-height: 100px;
}
.boxNavIcon, .boxNavIconNO {
  width: 80px;
  height: 80px;
  margin: 10px 10px 10px 0px;
  float: right;
}

.boxFeed {
    width: 960px;
    height: 320px;
    margin: 0px 0px 40px 0px;
}
.boxLeftNarrow, .boxRightNarrow {
    width: 390px;
    height: 300px;
    margin: 10px 0px 10px 10px;
    float: left;
    background-color: #008BA9;
}
.boxLeftWide, .boxRightWide {
    width: 540px;
    height: 300px;
    margin: 10px 0px 10px 10px;
    float: left;
    background-color: #008BA9;
}
#boxWelcome {
  font-size: 1.25em;
}
#boxLocations {
  font-size: 1.5em;
}
#boxContactInfo {
  line-height: 1em;
  font-size: 1.5em;
}

#heroVertical {
    width: 360px;
    height: auto;
    float: left;
    
}

/* Form */
input:valid{
    border: 2px solid black;
}
input:invalid{
    border: 2px dotted red;
}
