html {
    background-color: beige;
    color: darkgray;
    text-align: center;
}

main{
    background-color: aqua;
    color: darkblue;
    text-align: left;
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    border: solid white 5px;
}
h1 {
    color: black;
}
h2 {
    font-weight: bold;
}